{% extends 'base.html' %}

{% block title %}
    Adding the news
{% endblock %}

{% block sidebar %}
<div class="list-group" xmlns="http://www.w3.org/1999/html">
        {% include 'incl/_sidebar.html' %}
    </div>
{% endblock %}

<form action="{% url 'add_news' %}" method="post">
    {% csrf_token %}
        {{ form.non_field.errors }}
            <div class="form-group">
                <label for="{{ form.title.id.for_label }}"> Name: </label>
                {{ form.title }}
                <div class="invalid-feedback">
                    {{ form.title.errors }}
                </div>
            </div>

            <div class="form-group">
                <label for="{{ form.content.id.for_label }}"> Text: </label>
                {{ form.content }}
                <div class="invalid-feedback">
                    {{ form.content.errors }}
                </div>
            </div>

            <div class="form-group">
                <label for="{{ form.is_published.id.for_label }}"> Published on: </label>
                {{ form.is_published }}
                <div class="invalid-feedback">
                    {{ form.is_published.errors }}
                </div>
            </div>

            <div class="form-group">
                <label for="{{ form.photo.id.for_label }}"> Photo: </label>
                {{ form.photo }}
                <div class="invalid-feedback">
                    {{ form.photo.errors }}
                </div>
            </div>

            <div class="form-group">
                <label> Category: </label>
                {{ form.category }}
                <div class="invalid-feedback">
                    {{ form.category.errors }}
                </div>
            </div>
    <button type="submit" class="btn btn-primary btn-block"> Add news </button>
</form>

{% endblock %}