{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block sidebar %}
    {% include 'incl/_sidebar.html' %}
{% endblock %}

{% block content %}

    <!--Section: Contact v.2-->
<section class="mb-4">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Call us</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">Do you have more questions? Please do not hesitate to call us directly.</p>

    <div class="row">
        <!--Grid column-->
        <div class="col-md-12 text-center">
            <ul class="list-unstyled mb-0">
                <li><i class="fas fa-map-marker-alt fa-2x"></i>
                    <p>Bishkek, 720033, Kyrgyzstan</p>
                </li>

                <li><i class="fas fa-phone mt-4 fa-2x"></i>
                    <p>+996 312 219528</p>
                </li>

            </ul>

            <hr>

            <div class="col-md-12">
                <h3>Email us</h3>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary btn-block">Send email</button>
                </form>
            </div>
        </div>


    </div>

</section>


<!--Section: Contact v.2-->
{% endblock %}