{% extends 'base.html' %}
{% block sidebar %}
    <div class="list-group">
      {% include 'incl/_sidebar.html' %}
    </div>
{% endblock %}

{% block content %}
      {% for i in newsAll%}
      <div class="card mb-3">
        <div class="card-header">
          News Category: <a href="{% i.category.get_absolute_url %}">{{ i.category }}</a>
<!--          {{ '1234567'| filesizeformat }}-->
<!--          {{i.count}}-->
        </div>
        <div class="card-body">
          <div class="media">
              <div class="media-body">
                {% if i.photo %}
                  <img src="{{i.photo.url}}" width="350">
                {% else %}
                  <img src="https://cdn1.vectorstock.com/i/1000x1000/50/20/no-photo-or-blank-image-icon-loading-images-vector-37375020.jpg"
                       width="350" class="mr-3">
                {% endif %}
                  <h5 class="card-title {% cycle 'text-success' 'text-danger' %}">{{i.title}}</h5>
<!--                  <h5 class="card-title">{{forloop.counter}} {{i.title}}</h5>-->
                  <p class="card-text">{{i.content|linebreaksbr}}</p>
                  <a href="#" class="btn btn-primary">Read now</a>
            </div>
          </div>
        </div>
        <div class="card-footer text-muted">
          {{i.created_at|date:"Y-m-d H:i:s"}}
        </div>
      </div>
    {% endfor %}

{% endblock %}


<!--<body>-->
<!--<div class="container mt-3">-->
<!--  Today: {% now " d M Y"%}-->
<!--  <h1>{{titleInHTML}}</h1>-->
<!--  <div class="row">-->
<!--  </div>-->
<!--</div>-->
<!--    &lt;!&ndash; Optional JavaScript; choose one of the two! &ndash;&gt;-->

<!--    &lt;!&ndash; Option 1: Bootstrap Bundle with Popper &ndash;&gt;-->
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>-->

<!--    &lt;!&ndash; Option 2: Separate Popper and Bootstrap JS &ndash;&gt;-->
<!--    &lt;!&ndash;-->
<!--    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>-->
<!--    &ndash;&gt;-->
<!--  </body>-->


<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>{{titleInHTML}}</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>{{titleInHTML}}</h1>-->
<!--&lt;!&ndash;{{newsAll}}&ndash;&gt;-->
<!--{% for news in newsAll %}-->
<!--    <div>-->
<!--        <p><h3>{{ news.title }}</h3></p>-->
<!--        <p>{{ news.content }}</p>-->
<!--        <p>Date of creation {{ news.created_at |date:"d-m-Y H:i" }}</p>-->
<!--        <p>Date of update {{ news.update_at |date:"d-m-Y H:i" }}</p>-->
<!--        <hr>-->
<!--    </div>-->
<!--{% endfor %}-->
<!--</body>-->
<!--</html>-->
