{% extends 'base.html' %}
{% block title %}
    Feedback form
{% endblock %}

{% block sidebar %}
    <div class="list-group">
        {% include 'incl/_sidebar.html' %}
    </div>
{% endblock %}

{% block content %}
<h1>Feedback form</h1>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary btn-block">Send email</button>
</form>
{% endblock %}


<!--    {% for name in page_obj.object_list %}-->
<!--        {{ name }}-->
<!--    {% endfor %}-->